<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nuevo Recurso</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Agregar Nuevo Recurso</h1>
    <form action="/recursos/create" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
        <input type="text" name="title" id="titulo" required><br>

        <label for="autor">Autor:</label>
        <input type="text" name="author" id="autor" required><br>

        <label for="categoria">Categoría:</label>
        <input type="text" name="category" id="categoria" required><br>

        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" id="isbn"><br>

        <label for="imagen_portada">Imagen de Portada:</label>
        <input type="file" name="image_path" id="imagen_portada"><br>

        <!-- Agregar el campo status -->
        <label for="status">Estado:</label>
        <select name="status" id="status" required>
            <option value="Disponible">Disponible</option>
            <option value="Reservado">Reservado</option>
        </select><br>
        
        <button type="submit">Agregar Recurso</button>
    </form>
</body>
</html>
