<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Recurso</title>
    <link rel="stylesheet" href="/css/resource.css">
    <style>
 
    </style>
</head>
<body>
    <h1>Detalles del Recurso</h1>
    <div class="recurso-detail">
        <div class="recurso-info">
            <p><strong>Título:</strong> Time</p>
            <p><strong>Autor:</strong> Joe</p>
            <p><strong>Categoría:</strong> da</p>
            <p><strong>ISBN:</strong> 1234</p>
            <p><strong>Estado:</strong> 1234</p>
            <p><strong>Imagen de Portada:</strong></p>
        </div>
        
        <% if (recurso.image_path) { %>
            <img src="/uploads/<%= recurso.image_path %>" alt="Portada">
        <% } %>
    </div>
    
    <!-- Botón centrado -->
    <div style="text-align: center;">
        <a href="/menu">Volver a la lista</a>
    </div>
</body>
</html>
