<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Biblioteca</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <aside class="sidebar">
      <div class="logo">
        <img class="logo" src="logo_cun.png" alt="cum" />
      </div>
      <nav class="menu">
        <% if (user && user.role === 'usuario') { %>
            <button onclick="mostrarSeccion('alumnos')">Alumnos</button>
            <button onclick="mostrarSeccion('recursos')">Recursos</button>
            <button onclick="mostrarSeccion('reportes')">Reportes</button>
        <% } else { %>
            <p>No tienes permiso para acceder a este menú.</p>
        <% } %>
      </nav>
    </aside>

  
  

      <section id="recursos" class="main-content" style="display: none">
        <% if (user && user.role === 'usuario') { %>
          <div class="form-container">
            <h2>Recursos</h2>
            <form>
              <label for="titulo">Título:</label>
              <input type="text" id="titulo" placeholder="Ingrese título" />

              <label for="autor">Autor:</label>
              <input type="text" id="autor" placeholder="Ingrese autor" />

              <label for="isbn">ISBN:</label>
              <input type="text" id="isbn" placeholder="Ingrese ISBN" />

              <button type="submit">Agregar Recurso</button>
            </form>
          </div>
        <% } else if (bibliotecario) { %>
          <p>Acceso denegado a la sección de Recursos.</p>
        <% } %>
      </section>

      <section id="reportes" class="main-content" style="display: none">
        <% if (user && user.role === 'usuario') { %>
          <h2>Reportes</h2>
          <p>Aquí puedes generar reportes sobre los alumnos y recursos.</p>
        <% } else if (user) { %>
          <p>Acceso denegado a la sección de Reportes.</p>
        <% } %>
      </section>
    </div>

    <script>
      function mostrarSeccion(seccion) {
        const secciones = document.querySelectorAll('.main-content');
        secciones.forEach((s) => {
          s.style.display = 'none';
        });
        document.getElementById(seccion).style.display = 'block';
      }
    </script>
</body>
</html>
